.meow-pic{
  border-radius: 40%;
  margin-left:10%;
  height: 10%;
  width: 10%;
  margin-top:-50%;
}
.sim-pic{
  border-radius: 40%;
  margin-left:75%;
  height: 10%;
  width: 10%;
  margin-top:-50%;
  position: relative;
}
.sim{
  display: inline-block;
  position: relative;
  top:-300px;
  left:80px;
  color: #006699;
}
.meow{
  display: inline-block;
  position: relative;
  top:-300px;
  right:1100px;
  color:#006699;
}
.cat-text{
margin:0px auto 0px auto;
font-family: Arial;
text-align: center;
color: #004466;
}
.mycat{
  border-radius: 40%;
  margin-left:30%;
  height: 40%;
  width: 40%;
}
.cat{
  background-color:#e6f9ff;
  margin:0px auto 0px auto;
}
.hor{
  border-top-style:solid;
  border-width: 3px;
  width: 90%;
  color: Black;
  margin-top:-120px;
}
.hori{
  border-top-style:solid;
  border-width: 3px;
  width: 50%;
  color: Black;
  margin-left: 10px;
}
.vl {
  border-left: 3px solid black;
  height: 700px;
  position: absolute;
  left: 400px;
  margin-left: 200px;
  top:-80px;

}
.paragraph{
  font-size: 1.2em;
  position: relative;
  font-family:  'Ubuntu', sans-serif;
  color:Black;
}
.table{
  border:3px solid black;
  border-collapse: collapse;
  text-align: center;
  font-size: 1.2em;
  font-family:  'Ubuntu', sans-serif;
}
hr{
  border-top-style:solid;
  border-width: 3px;
  width: 90%;
  color: Black;
}
.Job{
  display: inline-block;
  margin-left: 60px;
  margin-top: 20px;
}
.w-text{
  font-size: 1.2em;
  position: relative;
  font-family:  'Ubuntu', sans-serif;
  color:Black;
}
.work-text{
  font-family: 'Ubuntu', sans-serif;
  display: inline-block;
  margin-top: 0px;
  padding-left: 10px;
  text-align: center;
  font-size: 1.5em;
}
.top-side{
    height:50px;
    background-color: #EBF5FB;
}
.top-title{
  display: inline-block;
  color: #00cc99;
  font-size: 1.5em;
  position: relative;
  bottom:10px;
  margin-left: 20px;
  font-family: Arial;
}
.top-link{
  color: #00cc99;
  font-family: verdana;
  margin-left: 10px;
  display: inline-block;
  position: relative;
  left:55%;
  top:-1px;
  bottom:30%;
  background-color: #EAF2F8;
}
.top{
  background-color: #85C1E9;
  height:450px;
}
.profile{
  border-radius: 50%;
  height: 300px;
  width: 300px;
  margin-left: 40%;
  margin-top: 25px;
}
.top-text{
  display: inline-block;
  font-size: 2.5em;
  position: relative;
  bottom:20px;
  margin-left: 32%;
  font-family: 'Arial', cursive;
  color:White;
}
.center{
  width: 95%;
  margin:0px auto 0px auto;
  background-color: #D6EAF8;
  height: 1000px;
}
.text{
  font-family: 'Ubuntu', sans-serif;
  margin-top: 0px;
  padding-left: 10px;
  text-align: center;
  font-size: 1.5em;
}
.personal{
  display: inline-block;
  width: 35%;
}
.personal-information{
  display: inline-block;
  height: 200px;
  width: 200px;
  margin-left: 100px;
}
.personal-text{
  display: inline-block;
  font-size: 1.5em;
  position: relative;
  font-family:  'Ubuntu', sans-serif;
  color:Black;
  text-align: justify;
  bottom:15px;
}
.education{
  display: inline-block;
  position: relative;
  margin-left: 55%;
  margin-top: 10px;
  bottom: 20%;
}
.e-text{
  font-family: 'Ubuntu', sans-serif;
  display: inline-block;
  margin-top: 10px;
  padding-left: 10px;
  text-align: center;
  font-size: 1.5em;
}
.language{
  display: inline-block;
  position: relative;
  margin-left: 60px;
  margin-top: 200px;
  bottom: 18%;
}
.skill{
  display: inline-block;
  position: relative;
  margin-left: 400px;
  bottom: 5%;
}
.bottom{
  margin:0px auto 0px auto;
  background-color: #EBF5FB;

}
.title-intro{
  font-size: 2em;
  font-family: Arial;
  text-align: center;
  color: #48C9B0;
  margin-top: 0px;
}
.intro{
  display: inline-block;
  width: 50%;
  margin-left: 25%;
  font-size: 1.2em;
  font-family: Times New Roman;
  text-align: center;
}
.btn {
  background: #34d9cb;
  background-image: -webkit-linear-gradient(top, #34d9cb, #2b66b8);
  background-image: -moz-linear-gradient(top, #34d9cb, #2b66b8);
  background-image: -ms-linear-gradient(top, #34d9cb, #2b66b8);
  background-image: -o-linear-gradient(top, #34d9cb, #2b66b8);
  background-image: linear-gradient(to bottom, #34d9cb, #2b66b8);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.bottom-side{
  height: 50px;
  background-color: #D6EAF8;
  margin:0px auto 0px auto;
}
.medsos{
  text-align: center;
  color: black;
}
